<h1 mat-dialog-title>{{ 'add-service-dialog-title' | translate }}</h1>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field class="full-width" appearance="standard" appHandleInputFormErrors>
      <input
        [placeholder]="'add-service-dialog-service-name-placeholder' | translate"
        matInput
        autocomplete="off"
        [formControl]="serviceName"
      />
    </mat-form-field>
    <mat-form-field class="full-width margin-bottom-md" appearance="standard" appHandleInputFormErrors>
      <textarea
        matInput
        autocomplete="off"
        [placeholder]="'add-service-dialog-service-description-placeholder' | translate"
        [formControl]="serviceDescription"
      ></textarea>
    </mat-form-field>
  </form>

  <app-file-upload [urlToUploadImageTo]="uploadUrl$" (imageUploadedTo)="setImageUrl($event)"></app-file-upload>
</mat-dialog-content>
<mat-dialog-actions>
  <app-button [buttonType]="ButtonType.Basic" (action)="dialogRef.close()">
    {{ 'add-service-dialog-service-close' | translate }}
  </app-button>
  <app-button [buttonType]="ButtonType.CallToAction" [disabled]="!formGroup.valid" (action)="save()">
    {{ 'add-service-dialog-service-save' | translate }}
  </app-button>
</mat-dialog-actions>
