<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="profile-menu">
        <div class="profile">
          <img [matMenuTriggerFor]="mainMenu" class="margin-right-md" src="assets/images/default-profile.jpg" />
        </div>
      </mat-toolbar-row>

      <mat-menu #mainMenu="matMenu">
        <div>
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>{{ 'organizer-main-organization-manage-profile-main-menu' | translate }}</span></button
          ><button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>{{ 'organizer-main-organization-logout-main-menu' | translate }}</span>
          </button>
        </div>
      </mat-menu>
    </mat-toolbar>
    <main class="margin-lg">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
