<div class="margin-left-sm">
  <h1 class="mat-title">{{ 'service-options-main-title' | translate: { serviceName: service?.name } }}</h1>
  <app-button [buttonType]="ButtonType.CallToAction" (action)="newServiceOption()">{{
    'services-options-create-service-option-button' | translate
  }}</app-button>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start start">
  <mat-card
    appHoverElevation
    class="margin-sm"
    *ngFor="let serviceOption of service?.serviceOptions"
    fxFlex="31%"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.md="48%"
  >
    <img mat-card-image class="service-image" src="{{ serviceOption?.imageUrl }}" />
    <mat-card-title> {{ serviceOption?.name | truncate: 20 }} </mat-card-title>
    <mat-card-subtitle>
      {{ serviceOption?.description | truncate: 200 }}
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        {{ 'services-options-price-text' | translate }}
        {{ serviceOption.price | currency: serviceOption.currency }}
      </p>
      <p>
        {{ 'services-options-slot-duration-text' | translate: { serviceDuration: serviceOption.serviceOptionTimeLength } }}
      </p>
    </mat-card-content>
    <mat-card-content>
      <mat-divider></mat-divider>
      <table>
        <tbody>
          <tr *ngFor="let serviceSchedule of serviceOption?.serviceOptionSchedules">
            <td class="text-bold padding-right-lg">{{ getDayOfWeekFromEnum(serviceSchedule.dayOfWeek) }}</td>
            <td class>{{ getWorkingTime(serviceSchedule) }}</td>
          </tr>
        </tbody>
      </table>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <app-button [buttonType]="ButtonType.Basic" (action)="serviceOptionSchedule(serviceOption)">{{
        'services-options-setup-schedule' | translate
      }}</app-button>
    </mat-card-actions>
  </mat-card>
</div>
